# =================== Custom ==================
*.jpg
*.JPG
*.txt
*.record
img/background/*
img/logos/*
img/photos/*
img/wedding/*
resources/*

# =================== Linux ===================
.*
!.gitignore
*~
 
# =================== OSX ===================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
